---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Basehead from "../components/Basehead.astro";
import Fondo from "../components/Fondo.astro";
import SpeedInsights from '@vercel/speed-insights/astro';

import Image from "astro/components/Image.astro";
import ps1 from "../assets/PS1.jpg"
import ps2 from "../assets/PS2.jpg"
import ps3 from "../assets/PS3.jpg"
import ps4 from "../assets/PS4.jpg"
import ps5 from "../assets/PS5.jpg"
import ps6 from "../assets/PS6.jpg"
import ps7 from "../assets/PS7.jpg"
import ps8 from "../assets/PS8.jpg"
import ps9 from "../assets/PS9.jpg"
import ps10 from "../assets/PS10.jpg"
import ps11 from "../assets/PS11.jpg"
import ps12 from "../assets/PS12.jpg"

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Basehead/>
	</head>
<Navbar/>
<Fondo/>

<body>
    <div class="my-24">
        <div class=" w-[80%] mx-auto">
    
            <div class="mx-auto mt-36">
                <h1 class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl dark:text-white">Te invitamos a descubrir nuestras piscinas,fruto de nuestra <span class="text-blue-600 dark:text-blue-500">dedicación y profesionalismo.</span></h1>
            </div>

        </div>
    </div>
    

<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mx-auto w-[80%] ">
    <div class="grid gap-4">
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps1} alt=""/>
        </div>
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps2} alt=""/>
        </div>
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps3} alt=""/>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps4} alt=""/>
        </div>
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps5} alt=""/>
        </div>
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps6} alt=""/>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps7} alt=""/>
        </div>
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps8} alt=""/>
        </div>
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps9} alt=""/>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps10} alt=""/>
        </div>
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps11} alt=""/>
        </div>
        <div>
            <Image class="h-auto max-w-full border-2 border-white rounded-lg transition ease-in-out delay-50 duration-300  hover:scale-110" src={ps12} alt=""/>
        </div>
    </div>
</div>
<Footer/>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<SpeedInsights />

</body>
</html>